[Desktop Entry]
Version=1.0
Name=Compton
Comment=Compton Compositor
Exec=compton --config /etc/xdg/xdg-ubuntu/compton.conf -b
Terminal=false
Type=Application
StartupNotify=false
OnlyShowIn=XFCE;
